[Desktop Entry]
Version=1.0
Type=Application
Name={{{name}}}
GenericName=CalDAV task manager
Comment={{{comment}}}
Exec={{{exec}}}
Icon={{{icon}}}
Terminal=false
Categories={{{categories}}}
Keywords=caldav;tasks;todo;calendar;productivity;reminder;sync;nextcloud;gtd;checklist;planner;organize;schedule;agenda;ical;vtodo;
StartupWMClass={{{exec}}}
StartupNotify=true
X-GNOME-UsesNotifications=true
X-GNOME-SingleWindow=true
