[Desktop Entry]
Version=1.0
Type=Application
Name=Chiri
GenericName=CalDAV task manager
Comment=Cross-platform CalDAV task management app
Exec=Chiri %u
Icon=Chiri
Terminal=false
Categories=Office;Calendar;
Keywords=caldav;tasks;todo;calendar;productivity;reminder;sync;nextcloud;gtd;checklist;planner;organize;schedule;agenda;ical;vtodo;
MimeType=x-scheme-handler/garden.chiri;
StartupWMClass=Chiri
StartupNotify=true
NoDisplay=true
X-GNOME-UsesNotifications=true
X-GNOME-SingleWindow=true
