*:hover {
  scrollbar-color: #d4d4d8 transparent;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: background 0.15s;

  &:hover {
    background: rgba(0, 0, 0, 0.35);
  }
}

.dark ::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.2);

  &:hover {
    background: rgba(255, 255, 255, 0.35);
  }
}
