# Nix
result
.direnv

# Dependencies
node_modules/

# Build outputs
dist/
target/

# Environment
.env
.env.local
.env.*.local

# IDE
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*

# Tauri
src-tauri/target/
src-tauri/gen
src-tauri/Assets.car
src-tauri/partial.plist

# Our app is only for desktop
src-tauri/icons/android
src-tauri/icons/ios

# CalDAV test servers
.radicale/
.baikal/

# local stuff
*.mobileconfig

# temporary
tmp/
